@keyframes bgAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


.falling-heart {
  position: absolute;
  top: -50px;
  width: 20px;
  height: 20px;
  background-image: url('https://cdn-icons-png.flaticon.com/512/833/833472.png');
  background-size: cover;
  opacity: 0.5;
  animation: fall 10s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.5;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}
